/*
Bryce Dixon  March 2026
Portfolio Website
This website was built on top of a website I created in Dec 2024 for COMP 2681.

This is the CSS styles for the project pages of my website

*/
/* Format projects to not overexpand */
.projects {
  max-width: 1000px;
  margin: auto;
  padding: 0px 20px 30px 20px;
}

.projects h1 {
  font-size: 2.5rem;
  margin-bottom: 10px;
}

.projects-intro {
  margin-bottom: 40px;
  color: #666;
}


/* Featured Project CSS */

.featured-project {
  /* Allow items to format neatly to the page */
  display: flex;
  gap: 30px;
  margin-bottom: 60px;
}

.featured-project img {
  width: 50%;
  border-radius: 10px;
}

.featured-project video, .featured-project iframe {
  width: 50%;
  /* height: 0%; */
  border-radius: 8px;
  margin-bottom: 10px;
  border: 1px solid black;
}

.project-info {
  display: flex;
  flex-direction: column;
}

.tech {
  /* Tech used for the project */
  color: #888;
  margin-bottom: 10px;
}

.project-links a {
  margin-right: 15px;
  text-decoration: none;
  font-weight: bold;
}


/* Project Grid */

.project-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}

/* Project Card = individual projects */

.project-card {
  border: 2px solid #000000;
  padding: 20px;
  border-radius: 10px;
}

.project-card img {
  width: 100%;
  border-radius: 8px;
  margin-bottom: 10px;
  border: 1px solid black;
}

.project-card video, .project-card iframe {
  width: 100%;
  border-radius: 8px;
  margin-bottom: 10px;
  border: 1px solid black;
}

.project-card a {
  text-decoration: none;
  font-weight: bold;
  padding-right: 15px;
}

/* Add hover effect for UI enhancement */
.project-card:hover {
  transform: translateY(-5px);
  transition: 0.2s;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.08);
}

/* Reformat for cellular devices */

@media (max-width: 768px) {

  .featured-project {
    flex-direction: column;
  }

  .featured-project img,
  .featured-project video {
    width: 100%;
  }

  .project-grid {
    grid-template-columns: 1fr;
  }

}